<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jokerwan.testipc">

    <!-- 自定义权限 -->
    <permission
        android:name="com.jokerwan.testipc.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.jokerwan.PROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.jokerwan.testipc.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="com.jokerwan.PROVIDER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".messenger.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote" />

        <provider
            android:name=".contentprovider.BookProvider"
            android:authorities="com.jokerwan.testipc.book.contentprovider"
            android:permission="com.jokerwan.PROVIDER"
            android:process=":provider" />

        <activity android:name=".messenger.MessengerActivity" />
        <activity android:name=".aidl.BookManagerActivity" />
        <activity android:name=".contentprovider.ProviderActivity" />

        <service
            android:name=".socket.TCPServerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".socket.TCPClientActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
    </application>

</manifest>